Consider the following dataframe and do as directed:


import pandas as pd

d={‘Mouse’:[150,200,300,400],
   ‘Keyboard’:[180,200,190,300],
   ‘Scanner’:[200,280,330,450]}
   
df=pd.DataFrame(d.index=[‘Jan’,’Feb’,’March’,’April’])

In [19]:
import pandas as pd 
d = {'Mouse':[150,200,300,400], 'Keyboard':[180,200,190,300], 'Scanner':[200,280,330,450]} 
df = pd.DataFrame(d, index=['Jan', 'Feb', 'March', 'April'])
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

#### A. Write code to access data of Mouse and Scanner columns.

In [13]:
# Accessing the data of 'Mouse' column
mouse_data = df['Mouse']
print(mouse_data)

# Accessing the data of 'Scanner' column
scanner_data = df['Scanner']
print(scanner_data)

Jan      150
Feb      200
March    300
April    400
Name: Mouse, dtype: int64
Jan      200
Feb      280
March    330
April    450
Name: Scanner, dtype: int64

#### B. Write code to access data of the Keyboard column using dot notation and column name.

In [14]:
# Accessing the data of 'Keyboard' column using dot notation
keyboard_data = df.Keyboard
print(keyboard_data)

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

#### C. Write code to access data of scanners using loc[].

In [15]:
# Accessing the data 'Scanner' column using loc[]
scanner_data = df.loc[:, 'Scanner']
print(scanner_data)

Jan      200
Feb      280
March    330
April    450
Name: Scanner, dtype: int64

#### D. Write code to access data of all columns where mouse data is more than 200.

In [16]:
# Accessing data of all columns where Mouse data is more than 200
data = df.loc[df['Mouse'] > 200, :]
print(data)

       Mouse  Keyboard  Scanner
March    300       190      330
April    400       300      450

#### E. Write code to access columns using 0 and 2.

In [17]:
# Accessing columns using 0 and 2
columns = df.iloc[:, [0, 2]]
print(columns)

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

#### F. Write code to access data of rows of jan and march for scanner and keyboard

In [18]:
# Accessing data of rows for Jan and March for Scanner and Keyboard
data = df.loc[['Jan', 'March'], ['Scanner', 'Keyboard']]
print(data)

       Scanner  Keyboard
Jan        200       180
March      330       190