#IBM Data Analytics

Course 4: Python for Data Science & AI

####Write a Python code to return your Python version

In [5]:
import sys 
print("Python version")
print(sys. version)

Python version
3.8.10 (default, Nov 14 2022, 12:59:47)
[GCC 9.4.0]

####Write a Python code to declare variable id="513". 
####Print the following statement "customer id =513". [Don't use print("customer id

In [9]:
customer_id=513
display(customer_id)

513

####Run the following statement, why there is an error
id=id+1

In [10]:
id=id+1

TypeError: ignored

We can not add string to integer

####Convert the variable id into an integer, increment it by 1.
####Assign the result to variable new_id.
####Print the new_id

In [11]:
id=int("513")
id=id+1
new_id=id
print(new_id)

514

####Write a Python code to print the following string in a specific format (see the 
####Twinkle, twinkle, little star, 
####How I wonder what you are! 
####Up above the world so high, 
####Like a diamond in the sky.

In [16]:
print("Twinkle, twinkle, little star, \nHow I wonder what you are! \nUp above the world so high, \nLike a diamond in the sky.")

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

####Givin the following string variable, 
####Print the first element in the string
course="Python for Data Science"

In [17]:
course = "Python for Data Science"
print(course[0])

P

 #### Print the element on the 13th index in the string

In [18]:
course = "Python for Data Science"
print(course[12])

a

####Find the length of string

In [19]:
course = "Python for Data Science"
len(course)

23

 #### Print the last element in the string [use negative index]

In [20]:
course = "Python for Data Science"
print(course[-1])

e

####Take the slice on variable course with only index 11 to index 14

In [21]:
course = "Python for Data Science"
slice = course[11:15]
print(slice)

Data

 Get every third element in the range from index 0 to index 20

In [23]:
course = "Python for Data Science"
every_third = course[0:20:3]
print(every_third)

Ph ra i

 #### Concatenate course string with ", AI & Development"

In [24]:
course = "Python for Data Science"
course = course + ", AI & Development"
print(course)

Python for Data Science, AI & Development

#### Replace all the spaces with (_). New string should looks like"Python_for_Data_S

In [25]:
course = "Python for Data Science"
course = course.replace(" ", "_")
print(course)

Python_for_Data_Science

 #### Convert all the characters in string to upper case

In [27]:
course = "Python for Data Science"
upper_case_course = course.upper()

print(upper_case_course)

PYTHON FOR DATA SCIENCE