####Q1 Write Python function that takes two inputs
####and return their sum value

In [ ]:
#Inputs has to be integer numbers only
a=int(input("Enter first number : "))
b=int(input("Enter second number : "))

def total(a,b):
   result=a+b
   print("Sum of the",a,"and", b,'is : ', result )  
total(a,b)

Enter first number : 20
Enter second number : 25
Sum of the 20 and 25 is :  45

####Q2 Write Python function the takes a celsius temprature
####and converts it into fahrenheit

In [ ]:
#Input temperature in float number or int number
celsius = float(input("Enter the temperature in Celsius: "))

def celsius_to_fahrenheit(celsius):
    fahrenheit = celsius * 1.8 + 32
    return fahrenheit
celsius_to_fahrenheit(celsius)

Enter the temperature in Celsius: 55.9

132.62

####Q3 Write a Python function to find the Max of three numbers

In [ ]:
#Inputs has to be integer numbers only
a=int(input("Enter first number : "))
b=int(input("Enter second number : "))
c=int(input("Enter third number : "))

def find_max(a, b, c):
    # Find the maximum of the three numbers
    max_num = max(a, b, c)
    
    # Return the maximum number
    return max_num

# Call the function and pass three numbers as arguments
max_number = find_max(a, b, c)

# Print the maximum number
print('Maximum number is : ', max_number)

Enter first number : 55
Enter second number : 1000
Enter third number : 5555
Maximum number is :  5555

####Q4 Write a Python function to check whether a number
####is in a given range [5,12]

In [ ]:
#Input has to be integer numbers only
num=int(input("Enter a number : "))

def in_range(num):
    #check whether a number is in a given range [5,12]
    if num >= 5 and num <= 12:
        print('Input number ', num ,'is in the range [5,12]')
    else:
        print('Input number ', num ,'is not in the range [5,12]')

# Call the function and pass number as argument        
in_range(num)

Enter a number : 50
Input number  50 is not in the range [5,12]

####Q5 Write a Python function that takes a list
####and returns a new list with unique elements of the first
####Sample_List : [1,2,3,3,3,3,4,5]

In [ ]:
Sample_List = [1,2,3,3,3,3,4,5]

def unique_list(numbers):
    unique = []
    #use for loop and if condition to check and append
    for item in numbers :
        if item not in unique:
            unique.append(item)
    return unique

#Call the function and pass List as argument  
print(unique_list(Sample_List))

[1, 2, 3, 4, 5]

In [ ]:
#Input has to be integer numbers only
num=int(input("Enter a number : "))
num1=int(input("Enter a number : "))
num2=int(input("Enter a number : "))
num3=int(input("Enter a number : "))
num4=int(input("Enter a number : "))
Sample_List = [num, num1, num2, num3, num4]

def unique_list(numbers):
    unique = []
    #use for loop and if condition to check and append
    for item in numbers :
        if item not in unique:
            unique.append(item)
    return unique

#Call the function and pass List as argument  
print('User input list = ', Sample_List)
print('Unique list = ', unique_list(Sample_List))

Enter a number : 1
Enter a number : 1
Enter a number : 55
Enter a number : 55
Enter a number : 6
User input list =  [1, 1, 55, 55, 6]
Unique list =  [1, 55, 6]

####Q6 Given a list of numbers, return True if first
####and last number of a list is same
####list1=[1,2,5,4,1]
####list2=[5,6,3,2,1]
####list3=[88,44,55,66,77,88]

In [ ]:
#define function for first and last number of a list
def first_last_same(lst):
    if lst[0] == lst[-1]:
        return True
    else:
        return False

#Given a list of numbers
list1=[1,2,5,4,1]
list2=[5,6,3,2,1]
list3=[88,44,55,66,77,88]

#Call the function and pass List as argument  
print(first_last_same(list1)) 
print(first_last_same(list2))
print(first_last_same(list3))

True
False
True