####Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,3,2022)

In [ ]:
myTuple = ("NPower","JDA","Tuesday",30,3,2022)
myTuple

('NPower', 'JDA', 'Tuesday', 30, 3, 2022)

####Q2 What is the type of myTuple

In [ ]:
type(myTuple)

tuple

####Q3 What is the length of myTuple

In [ ]:
len(myTuple)

6

####Q4 print the values in each index #Use regular indexing

In [ ]:
print("Value at index 0 is:", myTuple[0])
print("Value at index 1 is:", myTuple[1])
print("Value at index 2 is:", myTuple[2])
print("Value at index 3 is:", myTuple[3])
print("Value at index 4 is:", myTuple[4])
print("Value at index 5 is:", myTuple[5])

Value at index 0 is: NPower
Value at index 1 is: JDA
Value at index 2 is: Tuesday
Value at index 3 is: 30
Value at index 4 is: 3
Value at index 5 is: 2022

In [ ]:
#Better and simple solution for Q4. Thanks to Group-1 for this simple solution
myTuple[:]

('NPower', 'JDA', 'Tuesday', 30, 3, 2022)

####Q5 print the values in each index #Use negative indexing

In [ ]:

print("Value at index -6: ", myTuple[-6])
print("Value at index -5: ", myTuple[-5])
print("Value at index -4: ", myTuple[-4])
print("Value at index -3: ", myTuple[-3])
print("Value at index -2: ", myTuple[-2])
print("Value at index -1: ", myTuple[-1])

Value at index -6:  NPower
Value at index -5:  JDA
Value at index -4:  Tuesday
Value at index -3:  30
Value at index -2:  3
Value at index -1:  2022

In [ ]:
#Better and simple solution for Q5. Thanks to Group-1 for this simple solution
myTuple[-6:]

('NPower', 'JDA', 'Tuesday', 30, 3, 2022)

####Q6 what is the type of each value

In [ ]:
for value in myTuple:
    print(f"The type of value {value} is {type(value).__name__}")

The type of value NPower is str
The type of value JDA is str
The type of value Tuesday is str
The type of value 30 is int
The type of value 3 is int
The type of value 2022 is int

####Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,yea
####print the variables

In [ ]:
# unpacking the tuple into individual variables
(name, program, dayName, month, day, year) = myTuple

# printing the variables 
print("Name:", name)
print("Program:", program)
print("Day Name:", dayName)
print("Month:", month)
print("Day:", day)
print("Year:", year)

Name: NPower
Program: JDA
Day Name: Tuesday
Month: 30
Day: 3
Year: 2022

####Q8 unpack myTuple2 in the follwoeing variables name,program,dayName.
####What will happen to variables (name,program,dayName) and (month,day,year)

In [ ]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value
a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)
d=Tuple2
print(type(d))
print(d)
e=test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

In [ ]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory
#and hold a different information
testTuple=(1,2,3)
print(testTuple)
testTuple=(4,5,6)
print(testTuple)
#But we can't change or edit a value for the existing tuple
testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: ignored

####Q9 Reverse myTuple, output should looks like (2021,3,30,"Tuesday","JDA","NPower")

In [ ]:
myTuple[::-1]

(2022, 3, 30, 'Tuesday', 'JDA', 'NPower')

####Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))

In [ ]:
nestedTuple = (("Coursera", "course", 6), ("week", (2, "Lists", "Tuple")))
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

####Q11 What is the output of nestedTuple[1:2]

In [ ]:
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

####Q12 print each element in the nestedTuple

In [ ]:
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

####Q13 Access (2,"Lists","Tuple") from nestedTuple

In [ ]:
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

####Q14 Access the value "Lists" from nestedTuple

In [ ]:
nestedTuple[1][1][1]

'Lists'

####Q15 Access the value "Tuple" from nestedTuple

In [ ]:
nestedTuple[1][1][2]

'Tuple'

####Q16 Access the value "course" from nestedTuple

In [ ]:
nestedTuple[0][1]

'course'

####Q17 Concatenate myTuple with nestedTuple

In [ ]:
myTuple=myTuple+nestedTuple
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2022,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

####Q18 add your name to the tuple

In [ ]:
myTuple = myTuple + ('Lakshmi',)
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2022,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Lakshmi')

####Q19 check whether Coursera exists within myTuple
####NOTE "in" doesn't work properly with nested tuples

In [ ]:
if 'Coursera' in myTuple:
    print('Coursera exists in myTuple')
else:
    print('Coursera does not exist in myTuple')

Coursera does not exist in myTuple

####Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)

In [ ]:
testTuple = (1, 2, 33, 55, 6, 55)

if 55 in testTuple:
    print("55 exists in testTuple")
else:
    print("55 does not exist in testTuple")

55 exists in testTuple

####Q21 Find the index of JDA in myTuple

####Find the index of 'Coursera' in myTuple
####NOTE index doesn't work properly with nested tuples # Wrong output

In [ ]:
# Find the index of 'JDA' in myTuple
jda_index = myTuple.index('JDA')
print(f"The index of 'JDA' in myTuple is: {jda_index}")

# Find the index of 'Coursera' in myTuple
coursera_index = myTuple.index(('Coursera', 'course', 6))
print(f"The index of 'Coursera' in myTuple is: {coursera_index}")

The index of 'JDA' in myTuple is: 1
The index of 'Coursera' in myTuple is: 6

####Q22 print index 8 from myTuple

In [ ]:
myTuple[8]

'Lakshmi'

#Q23 Get the 4th element from the begining of myTuple and 4th element from last

In [ ]:
# Get the 4th element from the beginning of myTuple
fourth_element = myTuple[3]
print("The 4th element from the beginning is:", fourth_element)

# Get the 4th element from the end of myTuple
fourth_last_element = myTuple[-4]
print("The 4th element from the end is:", fourth_last_element)

The 4th element from the beginning is: 30
The 4th element from the end is: 2022

####Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]

In [ ]:
testTuple = (1, 2, 33, 55, 6, 55)
testTuple.count(55)

2