#####Q1 Given two integer numbers. If any of the numbers are greater than 50 return t
#### number1=20
#### number2=40

In [ ]:
number1=20
number2=40
if(number1>50):
    print("{} is greatest".format(number1))
elif(number2>50):
    print("{} is greatest".format(number2))
else:
    print("Neither is greater than 50".format(number1,number2))

Neither is greater than 50

In [ ]:
#another code for Q1
number1=20
number2=40
if number1>50 or number2>50:
  print("t")

####Q2 Given a list of numbers, return True if first and last number of a list is same
####list=[1,2,5,4,1]

####list1=[1,2,5,4,1]

In [ ]:
list = [1,2,5,4,1]
if list[0] == list[-1]:
    print('True')
else:
    print('False')

True

####Q3 Given a range of the first 10 numbers[1:10], Iterate from the start number to last number
####and In each iteration print the sum of the current number and previous number

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
num1 = 0
for i in numbers:
    sum = num1 + i
    print('Sum of Current Number '+ str(i) + ' and Previous Number ' + str(num1) + ' is ' + str(sum))
    num1=i

Sum of Current Number 1 and Previous Number 0 is 1
Sum of Current Number 2 and Previous Number 1 is 3
Sum of Current Number 3 and Previous Number 2 is 5
Sum of Current Number 4 and Previous Number 3 is 7
Sum of Current Number 5 and Previous Number 4 is 9
Sum of Current Number 6 and Previous Number 5 is 11
Sum of Current Number 7 and Previous Number 6 is 13
Sum of Current Number 8 and Previous Number 7 is 15
Sum of Current Number 9 and Previous Number 8 is 17
Sum of Current Number 10 and Previous Number 9 is 19

In [ ]:
numbers = list(range(1, 11))

for i in range(len(numbers)):
    if i == 0:
        print("The current number is", numbers[i])
    else:
        print("The Sum of the current number", numbers[i], "and the previous number", numbers[i-1], "is", numbers[i] + numbers[i-1])

TypeError: ignored

####Q4 Given a string name, display only those characters which are present at an even
####name="NPowerCanada"

In [ ]:
name = "NPowerCanada"

# Use a for loop to iterate over each character in the string
for i in range(len(name)):
    # Check if the index of the character is even
    if i % 2 == 0:
        # If the index of the character is even, print the character
        print(name[i], end="")

NoeCnd

####Q5 Given a string oldString and an integer number n,
####remove characters from a string starting from zero up to n and return a newStrin
####oldString="PythonCourse"
####n=6

In [ ]:
oldString = 'PythonCourse'
n = 6
 
#print the old string first
print("Old String is: ", oldString)
 
#Removing n characters from old_string 
result = ''
for i in range(0, len(oldString)):
    if i >= n:
        result = result + oldString[i]
 
#print the new String
print("New String is: ", result)

Old String is:  PythonCourse
New String is:  Course

In [ ]:
oldString = 'PythonCourse'
n = 6

newString = oldString[n:]
newString

'Course'

####Q6 Print the follwoing pattern
####*
####**
####***
####****

In [ ]:
# number of rows
rows = 4
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end='')
    # new line after each row
    print("\r")

*
**
***
****

In [ ]:
for i in range(1,5):
  print('*' * i)

*
**
***
****

####Q7 Reverse the following list using for loop
####list1=[90,70,50,60]

In [ ]:
list1 = [90, 70, 50, 60]
reversed_list = []

for i in range(len(list1)-1, -1, -1):
    reversed_list.append(list1[i])

print(reversed_list)

[60, 50, 70, 90]

####Q8 Display numbers from -10 to -1 using for loop [hint use range method]

In [ ]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1